<header class="sitenav">

	<div class="sitenav__inner">
		<div class="grid">
	      <div class="grid__cell unit-1-2 unit-3-12--desktop">
	  			<a class="sitenav__jrf-logo" href="/">Jirafe</a>
		 		</div>

			<div class="grid__cell unit-1-2 unit-9-12--desktop">
						<a class="menu-toggle" href="#menu">Menu</a>

						<nav id="menu" class="menu">
							<ul>
								<li {% if page.url == "/index.html" %}  class="active Selected hide-desktop" {% else %} class="hide-desktop" {% endif %}> <a href="/">Home</a></li>
								<li>
									<a href="">Documentation</a>
									<ul>
											{% for page in site.pages %}
												{% if page.type == "parent" %}
												<li><a href="{{page.url}}">{{ page.title }}</a></li>
												{% endif %}	
											{% endfor %}
									</ul>
								</li>
								<li {% if page.url contains "/resources/" %}  class="active Selected" {% else %}  {% endif %}>
									<a href="#">Resources</a>
									<ul>
										<li><a href="http://jirafe.com/resources/customers/">Our Customers</a></li>
										<li><a href="http://jirafeinc.tumblr.com/" target="_blank">Blog</a></li>
									</ul>
								</li>
								<li {% if page.url == "/company/index.html" %}  class="active Selected" {% else %}  {% endif %}><a href="http://jirafe.com/company/">Company</a></li>
								<li><a href="http://jirafe.com/board/">Log In</a></li>
								<li class="sign-up"><a href="https://account.jirafe.com/accounts/register/">Sign Up</a></li>
							</ul>
					</nav>

			</div>

		</div>
	</div>
</header>